<section class="section bg-light" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="section-title text-center">Our Pricing</h1>
                <div class="section-title-border margin-t-20"></div>
                <p class="section-subtitle font-secondary text-muted text-center padding-t-30">Don’t see a plan you
                    like? Contact us. The plans are just up there to give you an idea. The whole reason for our business
                    is to provide service that is suitable for your business</p>
            </div>
        </div>
        <div class="row margin-t-50">
            <div class="col-lg-3">
                <div class="text-center pricing-box">
                    <h4 class="text-uppercase">Silver Support</h4>
                    <h1>$249</h1>
                    <h6 class="text-uppercase text-muted">Billing Per Week</h6>
                    <div class="plan-features margin-t-50">
                        <p> * Basic Questions and answers</p>
                        <p>Email Support <b class="text-custom"></b></p>
                        <p>100 tickets/Month <b class="text-custom"></b></p>
                        <p>Coverage: <b class="text-custom">8 hours/5 Days</b></p>
                        <p>Agent Experience: <b class="text-custom"> 0-1 Year



                                ​</b></p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>





                    </div>
                    <!-- <a routerLink="#" class="btn btn-custom waves-effect waves-light margin-t-30">Join Now</a> -->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center pricing-box bg-white price-active">
                    <div class="ribbon-box"><span>Popular</span></div>
                    <h4 class="text-uppercase">Gold support</h4>
                    <h1>$349</h1>
                    <h6 class="text-uppercase text-muted">Billing Per Week</h6>
                    <div class="plan-features margin-t-50">
                        <p> * Troubleshooting issues</p>
                        <p>* Technical questions</p>
                        <p>Chat</p>
                        <p>Email Support <b class="text-custom"></b></p>
                        <p>500 tickets/Month <b class="text-custom"></b></p>
                        <p>Coverage: <b class="text-custom">8 hours/5 Days</b></p>
                        <p>Agent Experience: <b class="text-custom"> 1-3 Year



                                ​</b></p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                    </div>

                    <!--  <a routerLink="#" class="btn btn-custom waves-effect waves-light margin-t-30">Join Now</a> -->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center pricing-box">
                    <h4 class="text-uppercase">Daimond Support</h4>
                    <h1>$559</h1>
                    <h6 class="text-uppercase text-muted">Billing Per Week</h6>
                    <div class="plan-features margin-t-50">
                        <p> * Troubleshooting issues</p>
                        <p>* Technical questions</p>
                        <p>Service Demo/Walk Through</p>
                        <p>Chat</p>
                        <p>Call Support</p>
                        <p>Email Support <b class="text-custom"></b></p>
                        <p>1000 tickets/Month <b class="text-custom"></b></p>
                        <p>Coverage: <b class="text-custom">8 hours/7 Days</b></p>
                        <p>2 Individuals will be assigned <b class="text-custom">​</b></p>
                    </div>
                    <!--  <a routerLink="#" class="btn btn-custom waves-effect waves-light margin-t-30">Join Now</a> -->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center pricing-box">
                    <h4 class="text-uppercase">Customized Support</h4>
                    <h1>$399**</h1>
                    <h6 class="text-uppercase text-muted"> Billing Per Week </h6>
                    <div class="plan-features margin-t-50">
                        <p>*Individual Assignment</p>
                        <p>*Specialized field</p>
                        <p>Coverage: <b class="text-custom">8 hours/5 Days</b></p>
                        <p>Accountant/
                            Technical/
                            Software Developer etc <b class="text-custom">
                                ​</b></p>
                        <p> Agent Experience:<b class="text-custom">As Required</b></p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>



                        <p><b class="text-custom">** depending on the specialization</b></p>





                    </div>
                    <!-- <a routerLink="#" class="btn btn-custom waves-effect waves-light margin-t-30">Join Now</a> -->
                </div>
            </div>
        </div>

    </div>
</section>