<section class="section" id="features">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 order-2 order-lg-1">
                <div class="features-box mt-5 mt-lg-0">
                    <h3>ASAP Support was started with the aim to cater to the needs of start-up companies in North
                        America</h3>
                    <p class="text-muted web-desc">We understand the efforts required and the resources essential for
                        driving a successful company. It is evident that one of the most resource intensive parts of a
                        firm is the workforce. It is not only difficult to find talented individuals who will align with
                        your vision and work towards it, but also provide payroll and bring in the experience and skill
                        required to drive your company</p>
                    <!--    <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                        <li class="">We put a lot of effort in design.</li>
                        <li class="">The most important ingredient of successful website.</li>
                        <li class="">Submit Your Orgnization.</li>
                    </ul> -->
                    <a routerLink="#" class="btn btn-custom margin-t-30 waves-effect waves-light">Learn More <i
                            class="mdi mdi-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-7 order-1 order-lg-2">
                <div class="features-img mx-auto mr-lg-0">
                    <img src="assets/images/growth-analytics.svg" alt="macbook image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>