<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="about-title mx-auto text-center">
                    <h2 class="font-weight-light">What we are all about </h2>
                    <p class="text-muted pt-4">
                        We here at ASA Support have a pool of talents with years of experience, who have worked for the
                        fortune 500 companies such as Microsoft, Amazon, TD Bank, Accenture, etc. We have a dedicated
                        team that will be assigned to help you and your firm in multiple areas.
                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="row margin-t-50">
            <div class="col-lg-3 col-sm-6">
                <div class="team-box text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/img-1.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Frank Johnson</h4>
                    <p class="text-uppercase team-designation">CEO</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-box text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/img-2.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Elaine Stclair</h4>
                    <p class="text-uppercase team-designation">Designer</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-box text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/img-3.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Wanda Arthur</h4>
                    <p class="text-uppercase team-designation">Developer</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-box text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/img-4.jpeg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Pepe</h4>
                    <p class="text-uppercase team-designation">Manager</p>
                </div>
            </div>
 
    </div>-->
    </div>
</section>