<section class="section bg-web-desc">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-white">Connect with us</h2>
                <p class="padding-t-15 home-desc mx-auto">We are here to help drive change.
                    Together we will shape the future.</p>
                <a routerLink="#" class="btn btn-bg-white margin-t-30 waves-effect waves-light">View Plan & Pricing</a>
            </div>
        </div>
    </div>
</section>