<section class="section bg-light" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="section-title text-center">Our Expertise</h1>
                <div class="section-title-border margin-t-20"></div>
                <p class="section-subtitle text-muted text-center padding-t-30 font-secondary">We provide mutli-facted
                    and
                    exceptional service to our clients in different domains. </p>
            </div>
        </div>
        <div class="row margin-t-30">
            <div class="col-lg-4 margin-t-20">
                <div class="services-box">
                    <div class="media">
                        <i class="pe-7s-portfolio text-custom"></i>
                        <div class="media-body ml-4">
                            <h4>Sales, Business development Reps</h4>
                            <!-- <p class="pt-2 text-muted">Some quick example text to build on the card title and make up
                                the bulk of the card's content. Moltin gives you the platform.</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 margin-t-20">
                <div class="services-box">
                    <div class="media">
                        <i class="pe-7s-display1 text-custom"></i>
                        <div class="media-body ml-4">
                            <h4>CRM Setup</h4>
                            <!--    <p class="pt-2 text-muted">Credibly brand standards compliant users without extensible
                                services. Anibh euismod tincidunt ut laoreet Ipsum passage.</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 margin-t-20">
                <div class="services-box">
                    <div class="media">
                        <i class="pe-7s-mail text-custom"></i>
                        <div class="media-body ml-4">
                            <h4>Phone & Email Support</h4>
                            <!--  <p class="pt-2 text-muted">Separated they live in Bookmarksgrove right at the coast of the
                                Semantics, a large language ocean necessary regelialia.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 margin-t-20">
                <div class="services-box">
                    <div class="media">
                        <i class="pe-7s-cash text-custom"></i>
                        <div class="media-body ml-4">
                            <h4>Accounting, Bookkeeping</h4>
                            <!-- <p class="pt-2 text-muted">It is a paradisematic country, in which roasted parts of
                                sentences fly into your mouth leave for the far World.</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 margin-t-20">
                <div class="services-box">
                    <div class="media">
                        <i class="pe-7s-browser text-custom"></i>
                        <div class="media-body ml-4">
                            <h4>Software and web development</h4>
                            <!--  <p class="pt-2 text-muted">Even the all-powerful Pointing has no control about the blind
                                texts it is an almost unorthographic.</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <!--  <div class="col-lg-4 margin-t-20">
                <div class="services-box">
                    <div class="media">
                        <i class="pe-7s-plane text-custom"></i>
                        <div class="media-body ml-4">
                            <h4>Easy to customize</h4>
                            <p class="pt-2 text-muted">Question Marks and devious Semikoli, but the Little Blind Text
                                didn’t listen. She packed her seven versalia.</p>
                        </div>
                    </div>
                </div>
        </div>-->
        </div>

        <!--  <div class="row">
            <div class="col-lg-4 margin-t-20">
                <div class="services-box">
                    <div class="media">
                        <i class="pe-7s-arc text-custom"></i>
                        <div class="media-body ml-4">
                            <h4>Pixel Perfect Design</h4>
                            <p class="pt-2 text-muted">There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered alteration.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 margin-t-20">
                <div class="services-box">
                    <div class="media">
                        <i class="pe-7s-tools text-custom"></i>
                        <div class="media-body ml-4">
                            <h4>Perfect Toolbox</h4>
                            <p class="pt-2 text-muted">Hampden-Sydney College in Virginia, looked up one of the more
                                obscure Latin words, consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 margin-t-20">
                <div class="services-box">
                    <div class="media">
                        <i class="pe-7s-timer text-custom"></i>
                        <div class="media-body ml-4">
                            <h4>Awesome Design</h4>
                            <p class="pt-2 text-muted">All the Lorem Ipsum generators on the Internet tend to repeat
                                predefined chunks as necessary.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>