<section class="section bg-home home-half" id="home">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-white text-center">
                <h4 class="home-small-title">Awesome Design</h4>
                <h1 class="home-title">We love making things amazing and simple</h1>
                <p class="padding-t-15 home-desc mx-auto">Maecenas class semper class semper sollicitudin lectus lorem iaculis imperdiet aliquam vehicula tempor auctor curabitur pede aenean ornare.</p>
                <div class="text-center subscribe-form margin-t-30">
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="btn btn-custom">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<app-client></app-client>
<app-feature></app-feature>
<app-services></app-services>
<app-description></app-description>
<app-about></app-about>
<app-pricing></app-pricing>
<app-testi></app-testi>
<app-getstart></app-getstart>
<app-blog></app-blog>
<app-contact></app-contact>